.collapse-title {
  font-size: 24px;
  font-weight: 400;
}

.case-title {
  height: 43px;
}

.one-collapse {
  margin-top: 31px;
}

.clps {
  margin-top: 31px;
}

.oclps {
  margin-top: 31px;
}

@media (max-width: 824px) {
  .clps {
    margin: 20px 20px 0 20px;
  }

  .case-title {
    margin-top: 20px;
  }

  .oclps {
    margin-top: 20px;
  }
}
