.about-imgdiv {
  max-width: 1240px;
  max-height: 223px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

@media (max-width: 824px) {
  .about-imgdiv {
    border-radius: 10px;
    margin: 0 20px 0 20px;
  }
}
