.card {
  max-width: 340px;
  max-height: 340px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.title {
  position: absolute;
  bottom: 13px;
  left: 20px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligner le contenu en bas */
  align-items: flex-start; /* Aligner le contenu à gauche */
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75));
}
