.footer {
  background-color: black;
  height: 209px;
  text-align: center;
  margin-top: 250px;
}

.footer-img {
  margin-top: 66px;
}

.certificate {
  color: white;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Monsterrat", sans-serif;
}

@media (max-width: 824px) {
  .certificate {
    font-size: 12px;
  }
}
